@model IEnumerable<Infrastructuur.Models.StoryzonEntity>

@{
    ViewData["Title"] = "AdminList";
 
    int tableCounter = 1;
}


<div class="contact-us container pt-5">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-xs-5">
                        <h2>Story <b>Management</b></h2>
                    </div>
                    <div class="col-xs-7 d-flex top-buttons-container">

                        @*serachbar here and drowpdownlist with filter*@
                     <form class="filter-form input-filtering" asp-action="AdminList">
                            <div class="col-lg-6">
                                <fieldset>
                                    <select name="filtering" class="form-control">
                                        <option label=""> -- select -- </option>
                                        <option value="Title">Title</option>
                                        <option value="Genre">Genre</option>
                                        <option value="Rating">Rating</option>
                                        <option value="AddedDate ascending">AddedDate ascending</option>
                                         <option value="AddedDate descending">AddedDate descending</option>
                                    </select>

                                </fieldset>
                            </div>
                              <div class="col-lg-6 ">
                                <fieldset>
                                    <input type="text" name="searchInput" id="searchInput" />
                                </fieldset>
                            </div>
                            <button class="btn bg-dark text-white w-50" type="submit" value="Filter"><i class="fa fa-search" style="font-size:24px"></i></button>
                        </form>

                    </div>
                </div>
            </div>
            <div class="top-buttons">
                <a asp-action="Create" class="btn bg-dark text-white pl-2 w-25"><i class="material-icons bg-dark text-white">&#xE147;</i> <span>Add New Story</span></a>
                <form asp-action="WriteToExcel" class="excell-button" method="post">
                    <button type="submit" class="btn bg-dark text-white w-25"><i class="material-icons">&#xE24D;</i> <span>Export to Excel</span></button>
                </form>
                   
            </div>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Genre</th>
                        <th>Rating</th>
                        <th>AddedDate</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var story in @Model)
                    {
                        <tr>
                            <td>@tableCounter</td>
                            <td><img src="~/@story.Image" class="avatar" style="width:3em" alt="@story.Title">  @story.Title</td>
                            <td>@story.Genre</td>
                            @if (string.IsNullOrEmpty(@story.Rating.ToString()))
                            {
                                <td>0</td>
                            }
                            else
                            {
                                <td>@story.Rating</td>
                            }
                            <td>@story.AddedDate</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@story.Id" class="settings text-black" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE8B8;</i></a>
                                <a asp-action="Delete" asp-route-id="@story.Id" class="delete text-black " title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE5C9;</i></a>
                            </td>
                        </tr>
                        tableCounter = tableCounter + 1;
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>


