@using Infrastructuur.EnumsAndStaticProps
@using Infrastructuur.Models
@using StoryShop.Controllers
@model Infrastructuur.Models.StoryzonEntity

@{
    ViewData["Title"] = "Details";
    var storyDelete = ViewData["storyDeleted"] as string;
    var reviews = ViewData["reviews"] as List<ReviewEntity>;
    var users = ViewData["usersRevs"] as List<UserEntity>;
    int starValue = 0;
    var stateSoundButton = ViewData["buttonChangeClass"] as string;
    var usersThatWatched = ViewData["usersThatWatched"] as List<UserEntity>;
}
<div class="contact-us pt-5">
    @if (!string.IsNullOrEmpty(storyDelete))
    {
        <div class="container mt-5">
            <div id="alert" class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                @storyDelete
            </div>
        </div>
    }
    <div class="section-heading">
        <h2 class="text-center mt-5 ">@Model.Title</h2>
    </div>
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 align-baseline">
                <p class=" mt-5">@Model.BodyEn</p>

            </div>

            <div class="col-lg-6 w-100 mt-5">
                <img class="w-100 mt-2" src="~/@Model.Image" />
                   @if(@usersThatWatched?.Count != 0)
                    {
                        @if(@usersThatWatched?.Count == 1)
                        {
                             <p class="views"><small>this article has @usersThatWatched?.Count view</small></p>
                        } else
                        {
                              <p class="views"><small >this article has @usersThatWatched?.Count views</small></p>
                        }
                    }
                <div class="d-flex">
                    <form class="mr-2" asp-action="TextToSpeach">
                        <input name="textToRead" value="@Model.BodyEn" hidden />

                        <button class="rounded-pill  mt-5 playButton" type="submit"><i class="fa fa-volume-up"></i></button>

                    </form>
                    @if (User.IsInRole(Role.Admin) || User.IsInRole(Role.SuperAdmin) || User.IsInRole(Role.Vip))
                    {
                        <form asp-action="CreatePdf">
                            <input asp-for="@Model.Title" value="@Model.Title" hidden />
                            <input asp-for="@Model.BodyEn" value="@Model.BodyEn" hidden />
                            <input asp-for="@Model.Image" value="@Model.Image" hidden />
                            <button class="rounded-pill  mt-5 playButton" type="submit"><i class="fa fa-download"></i></button>
                        </form>
                    }
                 
                </div>

            </div>
        </div>
    </div>
</div>

<div class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>Reviews</h2>
                    <span class="mb-3">@Model.Title Reviews</span>
                    <hr />
                    @if (reviews is not null)
                    {
                        @foreach (var review in reviews)
                        {
                            <div class="d-flex">
                                <div class="col-lg-6 ">
                                   <h6 class="mt-2">
                                       @users.FirstOrDefault(x => x.Id == review.UserId).UserName
                                   </h6>
                                </div>
                                <div class="col-lg-6 align-baseline">
                                    <ul class="stars d-flex mt-2">
                                        @for (int i = 0; i < 5; i++)
                                        {
                                            if (int.Parse(review.Rating) > i)
                                            {
                                                <li><i class="fa fa-star orange-star"></i></li>
                                            }
                                            else
                                            {
                                                <li><i class="fa fa-star checked"></i></li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>

                            <div class="d-flex">
                                <h5 class="mt-2 mb-2 col-lg-12">@review.ReviewTitle</h5>

                            </div>
                            <p>@review.ReviewBody</p>

                            <hr />
                        }
                    }

                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>Write a review</h2>
                    <span>Your feedback is greatly appreciated and will help us improve in the future.</span>
                </div>
                <form asp-action="Review" id="contact" method="post">
                    <div class="row">
                        <div class="col-lg-6">
                            <fieldset>
                                <input name="reviewTitle" type="text" id="name" placeholder="Your review Title" required="">
                            </fieldset>
                        </div>
                        <div class="col-lg-6">
                            <fieldset>
                                <ul class="stars d-flex mt-2">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        <li><i class="star fa fa-star" onclick="starClick(@i)" style="cursor:pointer;font-size: 24px;"></i></li>
                                    }
                                </ul>
                                <input name="rating" type="text" id="rating" placeholder="Your rating" required="" hidden>
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <textarea name="message" rows="6" id="message" placeholder="Your review" required=""></textarea>
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <button type="submit" id="form-submit" class="main-dark-button w-100"><i class="fa fa-paper-plane"></i></button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var stars = document.querySelectorAll(".star");
    var starInput = document.querySelector("#rating");
    function starClick(elements) {
        for (let i = 0; i < elements; i++) {
            stars[i].style.color = 'orange';

        }
        for (let i = elements; i < stars.length; i++) {
            stars[i].style.color = '';
        }
        starInput.value = elements;
    }
</script>