@using Infrastructuur.Models
@model Infrastructuur.Models.StoryzonEntity

@{
    ViewData["Title"] = "Details";
    var storyDelete = ViewData["storyDeleted"] as string;
    var reviews = ViewData["reviews"] as List<ReviewEntity>;
    var users = ViewData["users"] as List<UserEntity>;
}
<div class="contact-us pt-5">
    @if (!string.IsNullOrEmpty(storyDelete))
    {
        <div class="container mt-5">
            <div id="alert" class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                @storyDelete
            </div>
        </div>
    }
    <div class="section-heading">
        <h2 class="text-center mt-5 ">@Model.Title</h2>
    </div>
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 align-baseline">
                <p class=" mt-5">@Model.BodyEn</p>
            </div>
            <div class="col-lg-6 w-100 mt-5">
                <img class="w-100 mt-2" src="~/@Model.Image" />
            </div>
        </div>
    </div>
</div>



<div class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>Reviews</h2>
                    <span class="mb-3">@Model.Title Reviews</span>
                    @if (reviews is not null)
                    {
                        @foreach (var review in reviews)
                        {

                            <h3 class="mt-5">@review.ReviewTitle</h3>
                            <div class="d-flex">
                            <div class="col-lg-6">
                                <h5 class="mt-2">@users.FirstOrDefault(x => x.Id == review.UserId).UserName</h5>
                            </div>
                            <div class="col-lg-6 align-baseline">
                                <ul class="stars d-flex mt-2">
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        if (int.Parse(review.Rating) > i)
                                        {
                                            <li><i class="fa fa-star" style="color:orange;"></i></li>
                                        }
                                        else
                                        {
                                            <li><i class="fa fa-star checked"></i></li>
                                        }
                                    }
                                </ul>
                            </div>
                            </div>
                            <p>@review.ReviewBody</p>

                            <hr />
                        }
                    }

                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>Write a review</h2>
                    <span>Your feedback is greatly appreciated and will help us improve in the future.</span>
                </div>
                <form asp-action="Review" id="contact" method="post">
                    <div class="row">
                        <div class="col-lg-6">
                            <fieldset>
                                <input name="reviewTitle" type="text" id="name" placeholder="Your review Title" required="">
                            </fieldset>
                        </div>
                        <div class="col-lg-6">
                            <fieldset>
                                <input name="rating" type="text" id="name" placeholder="Your rating" required="">
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <textarea name="message" rows="6" id="message" placeholder="Your review" required=""></textarea>
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <button type="submit" id="form-submit" class="main-dark-button w-100"><i class="fa fa-paper-plane"></i></button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

